.content {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    height: 50px;
    background-color: rgb(240, 240, 240);
}
.nav > div {
    margin-left: auto;
    margin-right: auto;
}
.heading {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    max-height: 290px;
    height: calc(100vh - 560px);
}
.text {
    margin-top: auto;
    min-height: 150px;
    font-size: 100px;
}
.search_form {
    padding: 20px;
    max-height: 160px;
    width: 100%;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    flex-shrink: 0;
}
input[type=text] {
    width: 30%;
    border-radius: 25px;
    border: 1px solid gray;
    padding: 20px;  
    height: 20px;
}
.footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    box-sizing: border-box;
    background-color: rgb(240, 240, 240);
    width: 100%;
    height: 50px;
    flex-shrink: 0;
}
#footer_right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: right;
}
#footer_left {
    flex: 1;
    display: flex;
    align-items: center;
}
#footer_left > div {
    margin-left: 5%;
}
#footer_right > div {
    margin-right: 5%;
}
.advanced_input {
    width: 100px;
}