#new_post_container {
      border: 1px solid;
      border-color: lightgray;
      width: 80vw;
}

#posts_container {
      width: 80vw;
}
.post {
      border: 1px solid;
      border-color: lightgray;
      margin: 5px;
}
div.post > * {
      margin-left: 15px;
}
#post_author {
      font-size: 30px;
}
#post_timestamp {
      font-size: 13px;
      color: gray;
}
#post_content {
      font-size: 23px;
}

.not_liked {
      position: relative;
      width: 20px;
      height: 18px;
}
.not_liked:before, .not_liked:after {
      position: absolute;
      content: "";
      left: 10px;
      top: 0;
      width: 10px;
      height: 16px; 
      background: white; 
      border-radius: 10px 10px 0 0; 
      transform: rotate(-45deg); 
      transform-origin: 0 100%;
      border: 1px solid;
}
.not_liked:after { 
      left: 0; 
      transform: rotate(45deg); 
      transform-origin :100% 100%; 
}
.liked {
      position: relative;
      width: 20px;
      height: 18px;
}
.liked:before, .liked:after {
      position: absolute;
      content: "";
      left: 10px;
      top: 0;
      width: 10px;
      height: 16px; 
      background: red; 
      border-radius: 10px 10px 0 0; 
      transform: rotate(-45deg); 
      transform-origin: 0 100%;
      border: 1px solid;
}
.liked:after { 
      left: 0; 
      transform: rotate(45deg); 
      transform-origin :100% 100%; 
}