{% extends "network/layout.html" %}

{% block body %}
    <div class="d-flex align-items-center flex-column">
        {% if user.is_authenticated %}
            <div id="new-post-view">
                <div class="p-2 d-flex flex-column" id="new_post_container">
                    <div class="p-2">
                        <h1>New post</h1>
                    </div>
                    <div class="p-2">
                        <form action={% url 'add_post' %} method="POST">
                            <div class="form-group">
                                {% csrf_token %}
                                <textarea class="form-control" name="post_content" rows="4" placeholder="What's on your mind, {{ user.username }}?" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Add post</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="d-flex flex-column" id="posts_container">
            <div class="p-2">
                <h1>All posts:</h1>
            </div>
            {% if posts %}
                {% for post in posts %}
                    <div class="post">
                        <div id="post_author">
                            <a href="{% url 'profil' username=post.owner %}" style="color: black;"><strong>{{ post.owner }}</strong></a>
                        </div>
                        <div id="post_content">
                            {{ post.content }}
                        </div>
                        <div id="post_timestamp">
                            {{ post.timestamp }}
                        </div>
                        <div class="d-flex" id="post_likes">
                            <div id="heart"></div>{{ post.likes.count }}
                        </div>
                        {% if user.is_authenticated %}
                            <form method="POST" class="form-inline">
                                <input type="text" class="form-control" name="comment_content" placeholder="Add a comment..." style="width: 30%; margin: 10px;">
                                <button type="submit" class="btn btn-secondary">Comment</button>
                            </form>
                        {% else %}
                            <div id="post_timestamp" style="margin: 5px;">
                                <a href="{% url 'login' %}">Log in</a> to add a comment.
                            </div>
                        {% endif %}
                        {% if user == post.owner %}
                            <div class="d-flex">
                                <div class="p-2">
                                    <form method="POST">
                                        <button type="submit" class="btn btn-primary">Edit</button>
                                    </form>
                                </div>
                                <div class="p-2">
                                    <form method="POST">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}