{% extends "network/layout.html" %}

{% block body %}
      {% if not message %}
            <div class="d-flex align-items-center flex-column">
                  <div class="p-2 d-flex" id="new_post_container">
                        <div class="p-2 d-flex flex-column">
                              <div class="p-2">
                                    <h1>{{ user_data.username }}</h1>
                              </div>
                              <div class="p-2">
                                    last seen: {{ user_data.last_login }}
                              </div>
                              <div class="p-2" id="post_timestamp">
                                    joined on: {{ user_data.date_joined }}
                              </div>
                        </div>
                        <div class="p-2 d-flex flex-column ml-auto">
                              <div class="p-2">
                                    Followers: {{ user_data.followers.count }}
                              </div>
                              <div class="p-2">
                                    Following: {{ user_data.following.count }}
                              </div>
                        </div>
                        <div class="p-2 ml-auto">
                              {% if not user_data == user %}
                                    {% if user in followers %}
                                          <form method="POST" action="{% url 'follow' username=user_data.username %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">Unfollow</button>
                                          </form>
                                    {% else %}
                                          <form method="POST" action="{% url 'follow' username=user_data.username %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-success">Follow</button>
                                          </form>
                                    {% endif %}
                              {% endif %}
                        </div>
                  </div>
                  <div class="d-flex flex-column" id="posts_container">
                  <div class="p-2">
                        {% if number > 1 %}
                              <nav class="navbar sticky-top justify-content-center" aria-label="Page navigation example" style="margin-top: 10px;">
                                    <ul class="pagination">
                                    {% if posts.has_previous %}
                                          <li>
                                                <a class="page-link" href="?page=1">&Pr;</a>
                                          </li>
                                                <li class="pagination justyify-content-center">
                                                <a class="page-link" href="?page={{ posts.previous_page_number }}" tabindex="-1" aria-disabled="true">&pr;</a>
                                          </li>
                                          <li class="page-item">
                                                <a class="page-link" href="?page={{ posts.previous_page_number }}">{{ posts.number|add:"-1" }}</a>
                                          </li>
                                    {% else %}
                                          <li>
                                                <a class="page-link" aria-disabled="true">&Pr;</a>
                                          </li>
                                          <li class="pagination justyify-content-center">
                                                <a class="page-link" tabindex="-1" aria-disabled="true">&pr;</a>
                                          </li>
                                    {% endif %}
                                    <li class="page-item">
                                          <a class="page-link" aria-disabled="true">{{ posts.number }}</a>
                                    </li>
                                    {% if posts.has_next %}
                                          <li class="page-item">
                                                <a class="page-link" href="?page={{ posts.next_page_number }}" aria-disabled="false">{{ posts.number|add:"1" }}</a>
                                          </li>
                                          <li class="page-item">
                                                <a class="page-link" href="?page={{ posts.next_page_number }}">&sc;</a>
                                          </li>
                                          <li class="page-item">
                                                <a class="page-link" aria-label="Next" href="?page={{ posts.paginator.num_pages }}">
                                                <span aria-hidden="true">&Sc;</span>
                                                </a>
                                          </li>
                                    {% else %}
                                          <li class="page-item">
                                                <a class="page-link" aria-disabled="true">&sc;</a>
                                          </li>
                                          <li class="page-item">
                                                <a class="page-link" aria-label="Next" aria-disabled="true">
                                                <span aria-hidden="true">&Sc;</span>
                                                </a>
                                          </li>
                                    {% endif %}
                                    </ul>
                              </nav>
                        {% endif %}
                        <h1>User posts:</h1>
                        {% if posts %}
                              {% for post in posts %}
                                    <div class="post">
                                    <div id="post_author">
                                          <a href="{% url 'profil' username=post.owner %}" style="color: black;"><strong>{{ post.owner }}</strong></a>
                                    </div>
                                    <div id="post_content">
                                          {{ post.content }}
                                    </div>
                                    <div id="post_timestamp">
                                          {{ post.timestamp }}
                                    </div>
                                    <div class="d-flex" id="post_likes">
                                          <div id="heart"></div>{{ post.likes.count }}
                                    </div>
                                    {% if user.is_authenticated %}
                                          <form method="POST" class="form-inline">
                                                <input type="text" class="form-control" name="comment_content" placeholder="Add a comment..." style="width: 30%; margin: 10px;">
                                                <button type="submit" class="btn btn-secondary">Comment</button>
                                          </form>
                                    {% else %}
                                          <div id="post_timestamp" style="margin: 5px;">
                                                <a href="{% url 'login' %}">Log in</a> to add a comment.
                                          </div>
                                    {% endif %}
                                    {% if user == post.owner %}
                                          <div class="d-flex">
                                                <div class="p-2">
                                                <form method="POST">
                                                      <button type="submit" class="btn btn-primary">Edit</button>
                                                </form>
                                                </div>
                                                <div class="p-2">
                                                <form method="POST">
                                                      <button type="submit" class="btn btn-danger">Delete</button>
                                                </form>
                                                </div>
                                          </div>
                                    {% endif %}
                                    </div>
                              {% endfor %}
                        {% else %}
                              <h5>User has no posts yet.</h5>
                        {% endif %}
                  </div>
            </div> 
      {% else %}
            <h1>{{ message }}</h1>
      {% endif %}
{% endblock %}    