{% extends "network/layout.html" %}

{% block body %}
      {% if not message %}
            <div class="d-flex align-items-center flex-column">
                  <div class="p-2 d-flex" id="new_post_container">
                        <div class="p-2 d-flex flex-column">
                              <div class="p-2">
                                    <h1>{{ user_data.username }}</h1>
                              </div>
                              <div class="p-2">
                                    last seen: {{ user_data.last_login }}
                              </div>
                              <div class="p-2" id="post_timestamp">
                                    joined on: {{ user_data.date_joined }}
                              </div>
                        </div>
                        <div class="p-2 d-flex flex-column ml-auto">
                              <div class="p-2">
                                    Followers: {{ user_data.followers.count }}
                              </div>
                              <div class="p-2">
                                    Following: {{ user_data.following.count }}
                              </div>
                        </div>
                        <div class="p-2 ml-auto">
                              {% if not user_data == user %}
                                    {% if user in followers %}
                                          <form method="POST" action="{% url 'follow' username=user_data.username %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">Unfollow</button>
                                          </form>
                                    {% else %}
                                          <form method="POST" action="{% url 'follow' username=user_data.username %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-success">Follow</button>
                                          </form>
                                    {% endif %}
                              {% endif %}
                        </div>
                  </div>
                  <div class="d-flex flex-column" id="posts_container">
                  <div class="p-2">
                        {% if number > 1 %}
                              <nav class="navbar sticky-top justify-content-center" aria-label="Page navigation example" style="margin-top: 10px;">
                                    <ul class="pagination">
                                    {% if posts.has_previous %}
                                          <li>
                                                <a class="page-link" href="?page=1">&Pr;</a>
                                          </li>
                                                <li class="pagination justyify-content-center">
                                                <a class="page-link" href="?page={{ posts.previous_page_number }}" tabindex="-1" aria-disabled="true">&pr;</a>
                                          </li>
                                          <li class="page-item">
                                                <a class="page-link" href="?page={{ posts.previous_page_number }}">{{ posts.number|add:"-1" }}</a>
                                          </li>
                                    {% else %}
                                          <li>
                                                <a class="page-link" aria-disabled="true">&Pr;</a>
                                          </li>
                                          <li class="pagination justyify-content-center">
                                                <a class="page-link" tabindex="-1" aria-disabled="true">&pr;</a>
                                          </li>
                                    {% endif %}
                                    <li class="page-item">
                                          <a class="page-link" aria-disabled="true">{{ posts.number }}</a>
                                    </li>
                                    {% if posts.has_next %}
                                          <li class="page-item">
                                                <a class="page-link" href="?page={{ posts.next_page_number }}" aria-disabled="false">{{ posts.number|add:"1" }}</a>
                                          </li>
                                          <li class="page-item">
                                                <a class="page-link" href="?page={{ posts.next_page_number }}">&sc;</a>
                                          </li>
                                          <li class="page-item">
                                                <a class="page-link" aria-label="Next" href="?page={{ posts.paginator.num_pages }}">
                                                <span aria-hidden="true">&Sc;</span>
                                                </a>
                                          </li>
                                    {% else %}
                                          <li class="page-item">
                                                <a class="page-link" aria-disabled="true">&sc;</a>
                                          </li>
                                          <li class="page-item">
                                                <a class="page-link" aria-label="Next" aria-disabled="true">
                                                <span aria-hidden="true">&Sc;</span>
                                                </a>
                                          </li>
                                    {% endif %}
                                    </ul>
                              </nav>
                        {% endif %}
                        <h1>User posts:</h1>
                        {% if posts %}
                              {% for post in posts %}
                                    <div class="post">
                                          <div id="post_author">
                                                <a href="{% url 'profil' username=post.owner %}" style="color: black;"><strong>{{ post.owner }}</strong></a>
                                          </div>
                                          <div id="post_content">
                                                <div class="post_content_edit" id="post_content_edit_post{{ post.id }}">
                                                    <form class="post_edit_form" id="{{ post.id }}">
                                                        <textarea class="form-control" id="post{{ post.id }}_content" rows="4" required>{{ post.content }}</textarea>
                                                        <button type="submit" class="btn btn-success save_post_button" id="{{ post.id }}">save</button>
                                                    </form>
                                                    <button class="btn btn-danger cancel_edit_button" id="post{{ post.id }}">cancel</button>
                                                </div>
                                                <div class="post_content_view" id="post_content_view_post{{ post.id }}">
                                                    {{ post.content }}
                                                </div>
                                          </div>
                                          <div id="post_timestamp">
                                                {{ post.timestamp }}
                                          </div>
                                          {% if user.is_authenticated %}
                                                <div class="d-flex" id="post{{ post.id }}_likes">
                                                      {% if user in post.likes.all %}
                                                      <div class="liked" id="{{ post.id }}"></div>
                                                      {% else %}
                                                      <div class="not_liked" id="{{ post.id }}"></div>
                                                      {% endif %}
                                                      {{ post.likes.count }}
                                                </div>
                                                <form method="POST" class="form-inline" action="{% url 'comment' post_id=post.id%}">
                                                      {% csrf_token %}
                                                      <input hidden name="site_name" value="{{ site }}">
                                                      <input required type="text" class="form-control" name="comment_content" placeholder="Add a comment..." style="width: 30%; margin: 10px;">
                                                      <button type="submit" class="btn btn-secondary">Comment</button>
                                                </form>
                                          {% else %}
                                                <div class="d-flex" id="post{{ post.id }}_likes">
                                                      ♥ {{ post.likes.count }}
                                                </div>
                                                <div id="post_timestamp" style="margin: 5px;">
                                                      <a href="{% url 'login' %}">Log in</a> to add a comment.
                                                </div>
                                          {% endif %}
                                          <div class="comments" style="margin: 0;">
                                                <span style="text-align: center;">
                                                   <h3>Post comments</h3>
                                                </span>
                                                {% for comment in comments %}
                                                    {% if comment.post_id == post %} 
                                                        <div class="comment">
                                                            <div id="comment_owner">
                                                                  <a href="{% url 'profil' username=comment.owner %}" style="color: black;"><strong>{{ comment.owner }}</strong></a>
                                                            </div>
                                                            <div id="comment_content">
                                                                {{ comment.content }}
                                                            </div>
                                                            <div id="comment_timestamp">
                                                                {{ comment.timestamp }}
                                                            </div>
                                                            {% if user.is_authenticated %}
                                                                <div class="d-flex" id="comment{{ comment.pk }}_likes">
                                                                    {% if user in comment.likes.all %}
                                                                        <div class="comment_liked" id="{{ comment.pk }}"></div>
                                                                    {% else %}
                                                                        <div class="comment_not_liked" id="{{ comment.pk }}"></div>
                                                                    {% endif %}
                                                                    {{ comment.likes.count }}
                                                                </div>
                                                            {% else %}
                                                                <div class="d-flex" id="post{{ post.id }}_likes">
                                                                        ♥ {{ comment.likes.count }}
                                                                </div>
                                                                <a href="{% url 'login' %}">Log in</a> to react.
                                                            {% endif %}
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                          </div>
                                          {% if user == post.owner %}
                                                <div class="d-flex">
                                                      <div class="p-2">
                                                            <button class="btn btn-primary edit_post_button" id="post{{ post.id }}">Edit</button>
                                                      </div>
                                                      <div class="p-2">
                                                      <form method="POST" action="{% url 'delete' post_id=post.pk %}">
                                                            {% csrf_token %}
                                                            <input hidden type="text" name="site_name" value="{{site}}">
                                                            <button type="submit" class="btn btn-danger">Delete</button>
                                                      </form>
                                                      </div>
                                                </div>
                                          {% endif %}
                                    </div>
                              {% endfor %}
                        {% else %}
                              <h5>User has no posts yet.</h5>
                        {% endif %}
                  </div>
            </div> 
      {% else %}
            <h1>{{ message }}</h1>
      {% endif %}
{% endblock %}    