{% extends "auctions/layout.html" %}

{% block body %}
    {% if Watchlist %}
        <h2>Auctions on your watchlist</h2>
        {% for auction in Watchlist %}
        <div class="w-80" style="display: flex;">
            <div class="col-6">
                <div class="row justify-content-md-center">
                    <a href="{% url 'listings' number=auction.id %}"><h1>{{ auction.title }}</h1></a>
                </div>
                <div class="row">
                    {{ auction.description }}
                </div>
                <div class="row">
                    {% if auction.current_bid == 0 %}
                        No bids yet, starting price is: ${{ auction.starting_bid }}
                    {% else %}
                        Current bid: ${{ auction.current_bid }}
                    {% endif %}
                </div>
                <div class="row" style="position: absolute; bottom: 40px;">
                    Auction ends on: {{ auction.end_date }}
                </div>
                <div class="row" style="position:absolute; bottom: 0px;">
                    <p>Listed by: <b>{{ auction.owner }}</b></p>
                </div>
            </div>
            {% if auction.auction_image %}
            <div class="col-6">
                <img src="{{ auction.auction_image }}" style="max-height: 400px;">
            </div>
            {% endif %}
        </div>
        {% endfor %}
    {% else %}
        <h1>You dont have any listings in your watchlist, check <a href="{% url 'index' %}">Active Listings</a></h1>
    {% endif %}
{% endblock %}